/* COLORS */
body {
    color: #fff;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
  }
  
  .App-wrapper {
    display: flex;
  }
  
  .Svg {
    background: white;
    box-sizing: border-box;
    height: 80vh;
    padding: 5%;
    width: 100vw;
  }
  
  .polygon {
    stroke: #a08c8b;
    stroke-width: 1;
  }

  .polygon-area{
    fill-opacity: 0.6;
  }
  
  .circle {
    fill: #052338;
    stroke: #ffd774;
    stroke-width: 2;
  }
  
  .App-line {
    opacity: 0.8;
    stroke: #a08c8b;
  }
  
  .App-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .diagram-text{
    font-size: 0.5rem;
    fill: #7a7070;
  }
  